@import "../../variables";

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

/////////////////////////////////////
// LOGO

.logo {
  height: 6rem;
  margin-left: 2rem;
}

/////////////////////////////////////
// HOTEL-NAME

.hotel-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: .5rem;
  margin-left: 2rem;
}
