<div class="description">
  <p class="paragraph">
    Villa Fantasy se află la 16 minute de mers pe jos de pârtia de schi Clăbucet din Predeal și oferă unități de cazare cu WiFi gratuit. Pârtia de schi Poliștoaca este la 1 km de Villa Fantasy, iar Clăbucet Sosire 1 se află la 900 de metri.
  </p>
  <p class="paragraph">
    Unitățile au TV cu ecran plat, baie privată cu articole de toaletă gratuite și terasă. Unele au zonă de luat masa şi/sau balcon.
  </p>
  <p class="paragraph">
    Proprietatea servește un mic dejun tip bufet. Acest chalet are facilități de grătar. Oaspeţii se pot relaxa în zona de lounge comună sau în grădină.
  </p>
  <ul class="list">
    <li class="list__item">Mic dejun inclus</li>
    <li class="list__item">Wifi gratuit</li>
    <li class="list__item">Parcare privata</li>
    <li class="list__item">Gradina/zona verde</li>
    <li class="list__item">Receptie non-stop</li>
    <li class="list__item">Stocare chei</li>
    <li class="list__item">TV camere/salon</li>
    <li class="list__item">Incalzire centrala</li>
  </ul>
</div>
